* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #6f7071, #4f4f4f);
    color: white;
}

nav {
    display: flex;  
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
}

.nav-left a {
    margin-right: 50px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nav-right span {
    background: rgba(255,255,255,0.2);
    padding: 8px 20px;
    border-radius: 20px;
      border: 0px    solid white;

    
    box-shadow: 
        0 0 10px white,              /* white glow */
        10px 10px 20px rgba(0,0,0,0.6); 

}

.container {
    text-align: center;
    margin-top: 30px;
}

.container h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 20px;

    border: 0px solid white;

   
    box-shadow: 
       0 0 10px white,             
        10px 10px 20px rgba(0,0,0,0.6); 
} 


.about-box {
    max-width: 1000px;
    margin: 0 auto 40px;
    padding: 15px 20px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    font-size: 20px;
    opacity: 0.9;
     border: 0px solid white;

    
    box-shadow: 
        0 0 5px white,              
        10px 10px 20px rgba(0,0,0,0.6);}
       



.info-section {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.box {
    width: 250px;
    padding: 20px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 20px;
     border: 0px solid white;

    
    box-shadow: 
        0 0 10px white,              
        10px 10px 20px rgba(0,0,0,0.6); 
}

.box h2 {
    margin-bottom: 10px;
}

.box ul {
    list-style: disc;
    text-align: left;
    padding-left: 20px;
    font-size: 14px;
     
}               